html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Lato', Tahoma, sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6, legend {
  font-family: 'Lato', Tahoma, sans-serif; }

p {
  font-family: 'Source Sans Pro', Tahoma, sans-serif;
  font-size: 1em; }

.login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch; }
  .login section {
    width: 50%;
    min-height: 100vh;
    background-color: #C03221;
    box-sizing: border-box;
    padding: 10%; }
    .login section:last-child {
      background-color: #FF715B; }
    .login section form {
      width: 100%;
      font-size: 2em;
      color: #FCFFFC;
      text-transform: uppercase; }
      .login section form legend {
        margin-bottom: 1em; }
      .login section form label {
        font-family: 'Lato', Tahoma, sans-serif;
        font-size: .5em;
        padding-top: 3em;
        display: block;
        position: relative;
        z-index: 1; }
        .login section form label span {
          position: absolute;
          margin-left: 20px;
          top: 0;
          z-index: -1;
          -webkit-transform: translateY(420%) scale(1);
          -moz-transform: translateY(420%) scale(1);
          -ms-transform: translateY(420%) scale(1);
          -o-transform: translateY(420%) scale(1);
          transform: translateY(420%) scale(1);
          -webkit-transform-origin: top center;
          -moz-transform-origin: top center;
          -ms-transform-origin: top center;
          -o-transform-origin: top center;
          transform-origin: top center;
          -webkit-transition: -webkit-transform 0.3s ease;
          -moz-transition: -moz-transform 0.3s ease;
          transition: transform 0.3s ease; }
        .login section form label input {
          border: none;
          border-bottom: 1px solid #FCFFFC;
          background: none;
          padding: 10px 20px;
          box-sizing: border-box;
          display: block;
          width: 100%;
          height: 50px;
          font-size: 1em;
          font-family: 'Source Sans Pro', Tahoma, sans-serif;
          color: #fff; }
          .login section form label input:focus {
            outline: none; }
          .login section form label input:focus + span, .login section form label input.value + span {
            -webkit-transform: translateY(200%) scale(1);
            -moz-transform: translateY(200%) scale(1);
            -ms-transform: translateY(200%) scale(1);
            -o-transform: translateY(200%) scale(1);
            transform: translateY(200%) scale(1); }

/*# sourceMappingURL=main.css.map */
