body{
  font-family: 'Lato', Tahoma, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, legend{
  font-family: 'Lato', Tahoma, sans-serif;
}

p{
  font-family: 'Source Sans Pro', Tahoma, sans-serif;
  font-size: 1em;
}

#hackerman{
  display: none;
  visibility: hidden;
  opacity: 0;
}
