.dashboard{
   > *{
     vertical-align: top;
   }
  header{
    width: 80%;
    min-width: calc(100% - 200px);
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    h1{
      line-height: 60px;
      font-size: 2em;
    }
  }
  nav{
    float: left;
    min-height: 100vh;
    width: 20%;
    max-width:  200px;
    display: inline-block;
    background-color: $red;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    > button{
      border: none;
      background: none;
      box-sizing: border-box;
      padding: 20px;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      img{
        width: 50px;
        height: auto;
        margin-bottom: .7em;
      }
      span{
        display: block;
        font-size: 1em;
        color: $white;
      }
    }
    section{
      display: none;
      position: absolute;
      left: 160px;
      top: 40px;
      background-color: $white;
      box-sizing: border-box;
      padding: 20px;
      width: 300px;
      box-shadow: 0 0 14px 1px rgba($black, 0.3);
      text-align: left;
      &.open{
        display: block;
      }
      &::before{
        content: "";
        display: block;
        border: 10px solid transparent;
        border-right-color: $white;
        position: absolute;
        left: -20px;
        top: 15px;
      }
      header{
        font-size: 2em;
        color: $black;
        border-bottom: 1px solid $black;
        display: block;
        width: calc(100% + 20px);
        margin: 0 -20px;
        padding: 0 0 20px 20px;
      }
    }
  }
  header{
    display: inline-block;
    box-shadow: 0 2px 0 0 rgba($black, 0.4);
  }
  main{
    width: 80%;
    min-width: calc(100% - 200px);
    height: calc(100vh - 100px);
    display: inline-flex;
    box-sizing: border-box;
    padding: 20px;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: flex-start;
    section{
      width: 20%;
      cursor: pointer;
      &.add{
        border: 4px dashed $gray;
        border-radius: 10px;
        text-align: center;
        font-size: 3em;
        p{
          margin-bottom: 20px;
          color: $gray;
        }
      }
      &:not(.add){
        border: 4px dashed $gray;
        border-radius: 10px;
        font-size: 3em;
        padding: 20px;
        box-sizing: border-box;
      }
    }
  }
}

svg{
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  width: 50px;
  height: auto;
  line{
    fill:none;
    stroke:$gray;
    stroke-width:3;
    stroke-miterlimit:10;
  }
}
